/*
CSS selectors
1.Element 2.group 3.id 4.class 5.universal
*/
body{
    background-image: linear-gradient(to bottom  right,black,darkblue,purple,grey);
background-repeat: no-repeat;
background: size 1000vw 1000vh;
}

div{
    background-image: linear-gradient(to bottom right,yellow,orange,red) ;;
    width: 80vw;

    margin:auto
    margin-top:250vh
    padding: 10px  10px;
}
form{
  background-color:(white) ;
  width: 40%;
 
 
}